.content .container {
    background-color: rgb(155, 95, 60);
    margin-top: 30px;
    padding-bottom: 25px;
}

.content .container-heading {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: fantasy;
}

.avatar {
    display: flex;
    justify-content: center;
}

.avatar img {
    width: 120px;
    height: 120px;
    object-position: center;
    object-fit: cover;
    border-radius: 5%;
    border-radius: 60px;
}

.user-name{
    display: flex;
    justify-content: center;
}

.user-name h1{
    font-size: 20px;
    font-family: Cursive;
}

.change{
    display: flex;
    justify-content: center;
}

.change-password {
    max-width:70%;
}

.content .input-group, .content .row {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    font-family: Cursive;
}

.content .row label {
    color: white;
}

.content .btn-success {
    display: block;
    margin-left: auto;
    margin-right: 40px;
}

.content .nav-item {
    display: block;
    margin-left: auto;
    margin-right: 40px;
}